.slide_show {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    //border: $border;
    margin-top: 50px;
    color: #202124;
    font-family: 'Poppins', sans-serif;
    padding: 0 50px;
    

    .slide_container {
        position: relative;
        margin: 0 auto;
        //border: $bordered;
    }

    .mySlides {
        display: none;
    }
    
    .images {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }
    
    
    .scroll-left{
        height: 60px; 
        overflow: hidden;
        position: relative;
        top: 20px;
        // border: 2px solid salmon;

        ul li {
            list-style-type: none;
            transform: translateY(100%);
            font-size: 3rem;
            font-weight: 700;
            padding: 10px 0;
            display: block;
            
        }
    }

    .scroll-left + p {
        padding: 20px 0;
        font-size: 3rem;
        font-weight: 500;
        
    }

    #b_txt {
        font: {
            size: 1.7rem;
            weight: 300;
        };
        padding: 40px 0px;
    }

    #search_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        // border: 2px solid red;
        margin: 0 auto;
        padding: 20px 0px;
        font-size: 1rem;
        font-weight: 300;

        #labelHolder {
            display: flex;
            width: 100%;
            // border: $bordered;
            div {
                width: 50%;

                #r_shf {
                    position: relative;
                    right: -40px;
                    bottom: 10px;
                }

                #l_shf {
                    position: relative;
                    left: 42px;
                    bottom: 10px;
                }
            }
        }

        #jobRole {
            display: flex;
            width: 100%;
            //flex-direction: column;
            //border: 2px solid green;

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                //border: slateblue 2px solid;

                #connector {
                    width: 100% !important;
                    display: none;

                    ::placeholder {
                        text-align: center;
                    }
                }
                #sub_div {
                    width: 100% !important;
                    text-align: center;
                    
                    input[type = submit] {
                        background-color: #1967D2;
                        width: 100%;
                        color: white;
                        border: none;
                        border-radius: 20px;
                        padding: 15px 0;
                        cursor: pointer;
                        font-weight: 500;
                        
                    }
                }

                div {   //the margin on this div also affects the submit div
                    width: 100%;
                    margin: 10px 0;
                    //border: 2px solid red;

                    input[type = text] {
                        padding: 15px 0px;
                        width: 100%;
                        border: 1px solid rgb(223, 222, 222);
                    }

                    input[type=text]:focus {
                        border: 3px solid #555;
                    }
                }

                #jr {
                    //border: 1px solid tomato;
                    border-radius: 20px;
                    background-image: url('../imgs/searchicon.png');
                    background-position: 10px 10px; 
                    background-repeat: no-repeat;
                }

                #jr::placeholder {
                    position: relative;
                    left: 40px;
                    font-size: 1rem;
                }

                #wh {
                    border-radius: 20px; 
                }

                #wh::placeholder {
                    @extend #jr::placeholder;
                }
                
            }
        }
    }


        

        

        

    
}


